$primary-color: #c82f04;

@mixin bg-mixin($color: #e9e9e9) {
  fill: $color;
  z-index: -1;
  position: fixed;
  bottom: 0;
  right: 0;
}

@mixin skills-mixin($color: #e9e9e9, $top, $left) {
  background-color: $color;
  position: absolute;
  top: $top;
  left: $left;
  transition: top 1s, left 1s, background-color 1s;
}

html,
body {
  margin: 0px;
}

#homeButton {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  top: 5em;
  left: 5em;
  z-index: 1;
}

#hiddenButton {
  background-color: none;
  border: none;
  padding: 1em 1em;
  margin: 0.3em 0.3em;
  border-radius: 30%;
  opacity: 0;
}

button.active {
  background-color: #858585;
  border: none;
  padding: 0.7em 0.7em;
  margin: 0.5em 0.3em;
  border-radius: 30%;
  transform: rotate(45deg);
  transition-duration: 0.4s;
}

button.active:hover {
  padding: 0.8em 0.8em;
  margin: 0.4em 0.2em;
}

button.inactive {
  background-color: #ffffff;
  border: 1px solid #c7c7c7;
  padding: 0.4em 0.4em;
  margin: 0.4em 0.3em;
  border-radius: 50%;
}

button.inactive:hover {
  padding: 0.5em 0.5em;
  margin: 0.3em;
}

@keyframes firstWelcome {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes secondWelcome {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes strokeAni {
  0% {
    stroke-dashoffset: 5050;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes reveal {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes lineExpand {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}

#background {
  background-color: #858585;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100vh;
}

#welcome {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100vh;
}

#welcomeHeadline {
  font-size: 1.6vw;
}

#firstWelcome {
  padding-left: 15vw;
  animation: firstWelcome 0.6s ease-out;
}

#secondWelcome {
  padding-left: 15vw;
  padding-bottom: 7vw;
  animation: secondWelcome 0.6s ease-out;
  animation-fill-mode: both;
  animation-delay: 0.6s;
}

#portrait {
  width: 25vw;
  padding-bottom: 20vh;
  padding-left: 25vw;
}

#portraitpath {
  stroke: $primary-color;
  fill: none;
  stroke-width: 1;
  stroke-dasharray: 5050;
  animation: strokeAni 2s;
  animation-fill-mode: both;
  animation-delay: 1.1s;
}

#BG {
  @include bg-mixin(#f2fdff);
}

#BG1 {
  @include bg-mixin(rgba(169, 229, 255, 0.268));
}

#BG2 {
  @include bg-mixin(#fff1d056);
}

#aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  height: 100vh;
  padding-left: 10em;
  padding-right: 10em;
}

.aboutMeActive {
  animation: reveal 1s;
}

#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.skillsParent {
  position: relative;
}

#skillsSkills {
  background-color: #ebebeb;
  border: 1px solid #cacaca;
  position: absolute;
  top: -2vw;
  left: 0;
  padding: 0.4em 1em 0.4em 1em;
  border-radius: 25px;
}

.html,
.css,
.javaScript,
.react,
.sass {
  background-color: #858585;
  border: 1px solid #cacaca;
  border-radius: 10px;
  padding: 0.2em;
  opacity: 1;
  position: absolute;
  top: -2vw;
  left: 0;
  transition: top 1s, left 1s;
}

#skillsSvg {
  stroke: #cacaca;
  stroke-width: 1;
  position: fixed;
  bottom: 0;
  right: 0;
}

.html.skills {
  @include skills-mixin(#fffaf4, 12vw, 3vw);
}

.css.skills {
  @include skills-mixin(#fffaf4, -17vw, 10vw);
}

.javaScript.skills {
  @include skills-mixin(#fffaf4, 3vw, -28vw);
}

.react.skills {
  @include skills-mixin(#fffaf4, -14vw, -12vw);
}

.sass.skills {
  @include skills-mixin(#fffaf4, 1vw, 26vw);
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding-left: 10em;
  padding-right: 10em;
}

.contactLine {
  animation: lineExpand 1s;
  animation-fill-mode: forwards;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}

.logoparent {
  display: flex;
  justify-content: center;
}

.logo {
  padding: 0.5em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: $primary-color;
}

.ghlogo {
  width: 28px;
  height: 28px;
  padding-right: 0.8em;
}

.lilogo {
  width: 48px;
  height: 28px;
  padding-left: 0.8em;
  filter: invert(90%);
}

@media screen and (max-width: 720px) {
  #homeButton {
    display: none;
  }

  #portrait {
    display: none;
  }
}
